@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 20 14.0000% 96%;
		--foreground: 20 14.0000% 20%;
		--card: 0 0% 100%;
		--card-foreground: 20 14.0000% 20%;
		--popover: 0 0% 100%;
		--popover-foreground: 20 14.0000% 20%;
		--primary: 135 30% 55.0000%;
		--primary-foreground: 0 0% 98%;
		--secondary: 40 45% 90%;
		--secondary-foreground: 40 20% 30%;
		--muted: 30 25% 90%;
		--muted-foreground: 30 15% 45%;
		--accent: 135 20% 85%;
		--accent-foreground: 135 30% 30%;
		--destructive: 0 70% 50%;
		--destructive-foreground: 0 0% 98%;
		--border: 25 10% 80%;
		--input: 20 14.0000% 92%;
		--ring: 135 30% 55.0000%;
		--chart-1: 135 30% 55.0000%;
		--chart-2: 45 50% 65%;
		--chart-3: 200 35% 70%;
		--chart-4: 340 40% 75%;
		--chart-5: 60 20% 80%;
		--sidebar: 135 10% 95%;
		--sidebar-foreground: 135 10% 25%;
		--sidebar-primary: 135 20% 45%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 135 15% 80%;
		--sidebar-accent-foreground: 135 20% 35%;
		--sidebar-border: 135 10% 85%;
		--sidebar-ring: 135 20% 45%;
		--font-sans: AR One Sans, ui-sans-serif, sans-serif, system-ui;
		--font-serif: "Lora", serif;
		--font-mono: "JetBrains Mono", monospace;
		--radius: 0.75rem;
		--shadow-x: 0rem;
		--shadow-y: 0.2rem;
		--shadow-blur: 0.4rem;
		--shadow-spread: -0.1rem;
		--shadow-opacity: 0.08;
		--shadow-color: hsl(20, 14%, 20%);
		--shadow-2xs: 0rem 0.2rem 0.4rem -0.1rem hsl(20 14.0000% 20% / 0.04);
		--shadow-xs: 0rem 0.2rem 0.4rem -0.1rem hsl(20 14.0000% 20% / 0.04);
		--shadow-sm:
			0rem 0.2rem 0.4rem -0.1rem hsl(20 14.0000% 20% / 0.08), 0rem 1px 2px
			-1.1px hsl(20 14.0000% 20% / 0.08);
		--shadow:
			0rem 0.2rem 0.4rem -0.1rem hsl(20 14.0000% 20% / 0.08), 0rem 1px 2px
			-1.1px hsl(20 14.0000% 20% / 0.08);
		--shadow-md:
			0rem 0.2rem 0.4rem -0.1rem hsl(20 14.0000% 20% / 0.08), 0rem 2px 4px
			-1.1px hsl(20 14.0000% 20% / 0.08);
		--shadow-lg:
			0rem 0.2rem 0.4rem -0.1rem hsl(20 14.0000% 20% / 0.08), 0rem 4px 6px
			-1.1px hsl(20 14.0000% 20% / 0.08);
		--shadow-xl:
			0rem 0.2rem 0.4rem -0.1rem hsl(20 14.0000% 20% / 0.08), 0rem 8px 10px
			-1.1px hsl(20 14.0000% 20% / 0.08);
		--shadow-2xl: 0rem 0.2rem 0.4rem -0.1rem hsl(20 14.0000% 20% / 0.2);
		--tracking-normal: 0em;
		--spacing: 0.25rem;
	}

	.dark:root {
		--background: 140 10% 15%;
		--foreground: 30 20% 88%;
		--card: 140 10% 18%;
		--card-foreground: 30 20% 88%;
		--popover: 140 10% 18%;
		--popover-foreground: 30 20% 88%;
		--primary: 135 30% 45%;
		--primary-foreground: 0 0% 98%;
		--secondary: 40 25% 35%;
		--secondary-foreground: 40 40% 95%;
		--muted: 30 15% 25%;
		--muted-foreground: 30 25% 70%;
		--accent: 135 20% 28.0000%;
		--accent-foreground: 135 30% 85%;
		--destructive: 0 60% 40%;
		--destructive-foreground: 0 0% 98%;
		--border: 140 10% 30%;
		--input: 140 10% 20%;
		--ring: 135 30% 45%;
		--chart-1: 135 30% 45%;
		--chart-2: 45 50% 55.0000%;
		--chart-3: 200 35% 60%;
		--chart-4: 340 40% 65%;
		--chart-5: 60 20% 70%;
		--sidebar: 140 10% 12%;
		--sidebar-foreground: 30 20% 88%;
		--sidebar-primary: 135 20% 35%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 135 15% 20%;
		--sidebar-accent-foreground: 135 20% 80%;
		--sidebar-border: 140 10% 25%;
		--sidebar-ring: 135 20% 35%;
		--font-sans: AR One Sans, ui-sans-serif, sans-serif, system-ui;
		--font-serif: "Lora", serif;
		--font-mono: "JetBrains Mono", monospace;
		--radius: 0.75rem;
		--shadow-x: 0rem;
		--shadow-y: 0.3rem;
		--shadow-blur: 0.6rem;
		--shadow-spread: -0.2rem;
		--shadow-opacity: 0.2;
		--shadow-color: hsl(0, 0%, 0%);
		--shadow-2xs: 0rem 0.3rem 0.6rem -0.2rem hsl(0 0% 0% / 0.1);
		--shadow-xs: 0rem 0.3rem 0.6rem -0.2rem hsl(0 0% 0% / 0.1);
		--shadow-sm:
			0rem 0.3rem 0.6rem -0.2rem hsl(0 0% 0% / 0.2), 0rem 1px 2px -1.2px
			hsl(0 0% 0% / 0.2);
		--shadow:
			0rem 0.3rem 0.6rem -0.2rem hsl(0 0% 0% / 0.2), 0rem 1px 2px -1.2px
			hsl(0 0% 0% / 0.2);
		--shadow-md:
			0rem 0.3rem 0.6rem -0.2rem hsl(0 0% 0% / 0.2), 0rem 2px 4px -1.2px
			hsl(0 0% 0% / 0.2);
		--shadow-lg:
			0rem 0.3rem 0.6rem -0.2rem hsl(0 0% 0% / 0.2), 0rem 4px 6px -1.2px
			hsl(0 0% 0% / 0.2);
		--shadow-xl:
			0rem 0.3rem 0.6rem -0.2rem hsl(0 0% 0% / 0.2), 0rem 8px 10px -1.2px
			hsl(0 0% 0% / 0.2);
		--shadow-2xl: 0rem 0.3rem 0.6rem -0.2rem hsl(0 0% 0% / 0.5);
	}
}
